body {
    background-image: url(bg.png);
    background-size: 1920px, 1080px;
}

.homepage {
    max-width: 1200px;
    margin: auto;
    background-color: rgba(255, 255, 0, 0.73);
    padding: 10px;
    height: 90vh;
}

h1 {
    color: #3259e2;
    font-family: 'Oxygen';
    font-size: 70px;
    font-style: italic;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: rgb(76, 124, 147);
}

p {
    color: #17191b;
    font-family: 'Alegreya';
    font-size: 35px;
}

h3 {
    font-family: 'Koulen';
    font-size: 55px;
    color:#72cb25;
}

a {
    font-size: 27px;
}

::selection {
    background: #A52A2A;
}

@font-face {
    font-family: Oxygen;
    src: url(fontscauseyes/Oxygen-Bold.ttf);
}

@font-face {
    font-family: Koulen;
    src: url(fontscauseyes/Koulen-Regular.ttf);
}

@font-face {
    font-family: Alegreya;
    src: url(fontscauseyes/Alegreya-Medium.ttf);
}
