body {
    background-image: url(../images/bg.png);
    background-size: 1920px, 1080px;
}

.altimage {
    background-image: url("albadillogo2.png");
}

.container {
    min-height: 100%;
    height: auto;
    background-color: #da2121;
    max-width: 1200px;
    width: 1170px;
}

input {
    font-family: pixel1;
    font-size: 20px;
    background-color: rgb(0, 191, 255);
    margin: 0;
    padding: 0;
}

button {
    font-family: pixel1;
    font-size: 20px;
    background-color: rgb(0, 191, 255);
    margin: 0;
    padding: 0;
}

h1 {
    font-family: pixel3;
    font-size: 40px;
}

p {
    font-family: pixel1;
    font-size: 35px;
}

@font-face {
    font-family: pixel1;
    src: url(../fonts/Connection-arMJ.otf);
 }

 @font-face {
    font-family: pixel3;
    src: url(../fonts/akumajou-densetsu.ttf);
 }